.container {
  max-width: $website-width;
  margin: auto;
  overflow: hidden;
}

.lead {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: $main-color;
}

// Padding
.py {
  &-1 {
    padding: 1rem 0;
  }

  &-2 {
    padding: 2rem 0;
  }

  &-3 {
    padding: 3rem 0;
  }

  &-4 {
    padding: 4rem 0;
  }
}

.px {
  &-1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &-2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &-3 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  &-4 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

// Margin
.my {
  &-1 {
    margin: 1rem 0;
  }

  &-2 {
    margin: 2rem 0;
  }

  &-3 {
    margin: 3rem 0;
  }

  &-4 {
    margin: 4rem 0;
  }
  &-5 {
    margin: 5rem 0;
  }
  &-6 {
    margin: 6rem 0;
  }
  &-7 {
    margin: 7rem 0;
  }
  &-8 {
    margin: 8rem 0;
  }
}

.section-title {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2;

  &:before {
    content: '';
    height: 4px;
    width: 4rem;
    background-color: green;
    display: block;
    margin-bottom: 1rem;
  }
}

.section-subtext {
  font-size: 1.6rem;
  margin-bottom: 5rem;
}

.overlay-light {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

%btn-shared {
  display: inline-block;
  padding: 1.5rem 3rem;
  border-radius: 5rem;
  cursor: pointer;
  border: none;
  @include easeOut;
}

.btn {
  &-primary {
    @extend %btn-shared;
    background-color: $main-color;
    color: #fff;
    font-size: 1.8rem;

    &:hover {
      background-color: darken($main-color, 10);
      transform: translateY(-5px);
    }
  }
}

section {
  padding: 8rem 0;
  overflow: hidden;

  .section {
    &-title {
      font-size: 5rem;
      font-weight: 700;
      line-height: 1.2;
    }
  }
}
